.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  .card {
    border-radius: 20px;
    margin-top: 20px;
    width: 55%;
    display: flex;
    flex-direction: row-reverse;

    min-height: 200px;
    // background-color: white;
    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/4559530/pexels-photo-4559530.jpeg?auto=compress&cs=tinysrgb&w=600");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 30px;
      flex-direction: column;
      display: flex;
      color: white;
      gap: 53px;

      h1 {
        font-size: 40px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        margin-top: 10px;
        background-image: linear-gradient(
          to right,
          #00c6ff 0%,
          #0072ff 51%,
          #00c6ff 100%
        );
        border: none;
        width: 100%;
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 20px;
        display: block;
      }
      button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
    }
    .right {
      padding: 30px;
      display: flex;
      flex-direction: column;
      background: white;
      gap: 29px;
      flex: 1;
      h1 {
        color: rgb(27, 21, 21);
        font-size: 30px;
      }
      form {
        input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 20px;
          width: 100%;
          font-size: 16px;
          outline: rgb(96, 96, 214);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          transition: all 0.3s;
          margin-bottom: 30px;
        }
      }
      button {
        margin-top: 20px;
        background-image: linear-gradient(
          to right,
          #00c6ff 0%,
          #0072ff 51%,
          #00c6ff 100%
        );
        border: none;
        width: 100%;
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 20px;
        display: block;
      }
      button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
