.post {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  width: 40%;
  align-items: center;
  margin-left: 300px;

  .postHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .userProfilePic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }

    .userName {
      font-weight: bold;
    }
  }

  .postImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .postActions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    span {
      cursor: pointer;
    }

    .liked {
      color: red;
    }
  }

  .postLikes {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .postComments {
    .comment {
      margin-bottom: 5px;
    }
  }

  .commentForm {
    display: flex;
    align-items: center;

    input {
      flex: 1;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    button {
      padding: 10px 15px;
      border: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
