.post {
  .container {
    padding: 20px;
    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .userInfo {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .details {
          display: flex;
          flex-direction: column;
          .name {
            font-weight: 500;
          }
        }
      }
    }
  }
}
