.stories {
  display: flex;
  // gap: 10px;
  margin-left: 200px;
  width: 65%;
  height: 250px;
  margin-bottom: 30px;
  .currentUser {
    flex: 1;
    border-radius: 1px;
    overflow: hidden;
    position: relative;
    img {
      width: 150px;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: 500;
    }
    button {
      position: absolute;
      bottom: 40px;
      left: 10px;
      text-align: center;
      padding: 2px;
      color: white;
      background-color: #5271ff;
      border-radius: 50%;
      border: none;
      width: 30px;
      height: 30px;
      cursor: pointer;
      // font-weight: bold;
      font-size: 30px;
      display: flex;
      justify-content: center;
    }
  }
  .story {
    flex: 1;
    border-radius: 1px;
    overflow: hidden;
    position: relative;
    img {
      width: 150px;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: 500;
    }
  }
}
